.bg-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header-container {
  background-color: #3367d6;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 10px;
}
.search-container {
  margin-left: 40px;
  display: flex;
  align-items: center;
  background-color: #2850a7;
  border: 1px solid #ececec;
}
.search-image {
  background-color: #2850a7;
  border-right: 1px solid #ececec;
  padding: 5px;
}
.search-bar {
  background-color: #2850a7;
  border: none;
  width: 600px;
  outline: none;
  padding: 5px;
  font-weight: 600;
  color: #ffffff;
  font-size: 15px;
}
.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  box-shadow: 2px 2px 14px 14px #ececec;
  border-radius: 20px;
}
.no-history {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
}
